# ============================================
# ArwaPark SaaS — Root Environment Variables
# Copy this to .env and fill in your values
# ============================================

# --- Backend ---
MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/arwapark?retryWrites=true&w=majority
JWT_SECRET=qwertyhgtfrdesawefbbbbbbbb2345565drdfdcbc
JWT_EXPIRE=7d
BACKEND_PORT=5000
CLIENT_URL=https://arwapark.digima.cloud

# --- Frontend ---
NEXT_PUBLIC_API_URL=https://arwapark.digima.cloud/api/v1
NEXT_PUBLIC_DOMAIN=https://arwapark.digima.cloud
FRONTEND_PORT=3000
